body {
    margin: 0;
}
.rc-slider-track {
  background-color:  #008f05; /*settings['accent']*/
}
.DateInput_input_1 {
    text-align: center;
}

.Select-control {
    border: 1px solid #1f2630; /*settings['text']*/
    background-color: #daecf1; /*settings['background-2']*/
}

.DateRangePickerInput__withBorder {
    border: 1px solid #1f2630; /*settings['text']*/
}

.DateRangePickerInput {
    background-color: #daecf1; /*settings['background-2']*/
}

.DateInput_input__focused {
    background:  #008f05; /*settings['accent']*/
}

.DateInput {
    background:  #008f05; /*settings['accent']*/
}

.DateRangePickerInput_arrow_svg {
    fill: #008f05; /*settings['accent']*/
}

.DateInput_input__focused_2 {
    background-color: #daecf1; /*settings['background-2']*/
}

.DateInput_input{
    color: #1f2630; /*settings['text']*/
}

.Select-placeholder {
    color: #757575;
}

.Select-value-label {
    color:  #008f05; /*settings['accent']*/
}

.rc-slider-mark-text-active{
    color: #1f2630; /*settings['text']*/
}